.archive__header{
    text-align: center;
    background-color: var(--backgroundcolor__maine);
}

.archive{
    background-color: var(--backgroundcolor__maine);
}
.archive__items{
    padding-left: 20px;
    margin-bottom: 20px;
}