.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 610px;
     
    background-color: var(--backgroundcolor__maine);
}
.menu__choice{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu__items{
    display: flex;
}

.menu__items:not(:last-child){
    margin-bottom:  44px;
    }
.menu__link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 255px;
    height: 60px;
    background-color: var(--backgroundcolor__button-calc);
    border-radius: 4px;

    ;

    }