.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 610px;

    border:0 2px 2px 2px;
    background-color: #000000;
        
    background-color: #FBFCC4;
}
.menu__choice{
    display: flex;
    align-items: center;

    

    width: 255px;
    height: 60px;
    background-color: #66D771;
    border-radius: 4px;
}
.menu__choice:not(:last-child){
    margin-bottom:  44px;
    }
.menu__link{
    margin: 0 auto 0 auto;
    }