.information{
    background-color: var(--backgroundcolor__maine);
}
.information__conteiner{
    position: relative;
     display: block;
     margin: 0 auto 0 auto;
     max-width: 360px;   
 }
 .information__head{
     margin: 0 auto 0 auto;
     padding: 30px 0 30px 0;
 
     max-width: 250px;
 
     /* border: 2px solid var(--maine__color__dark); */
     
     text-align: center;
     font-family: 'Raleway';
     font-style: normal;
     font-weight: 700;
     font-size: 20px;
     letter-spacing: 0.002em;
     color: var(--maine__color__dark);
 }

 .send{
   padding-bottom:  50px; 
 }
 .send__link{
    display: block;
}
.send__list{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
.send__items{
    width: 50px;
    height: 50px;
}
 