
.information__form{
    display: flex;
    flex-direction: column;
    
}
.information__field{
    max-width:150px ;
    height: 40px;
    text-align: center;
    background-color:var(--backgroundcolor__button-light)
}
.information__field:placeholder-shown{
    background-color:#ffff   
   } 

.information__value{
    max-width:120px ;
    height: 40px;
    text-align: center;
    background-color:var(--backgroundcolor__button-light)
}
.information__value:placeholder-shown{
    background-color:#ffff} 

    .information__discraption{
        border-radius: 4px;
    } 


.information__label:not(:last-child){
 margin-bottom: 24px;
}
.information__label{
    display: flex;
    justify-content: space-between;
    margin: 0 10px 0 10px;
}
.information__discraption{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--maine__color__dark);
    background-color: var(--backgroundcolor__button-dark);
    width: 150px;
    text-align: center;
}
.information__button-box{
    display: flex;
    align-items: center;
    margin:0 auto 24px auto;
    

}
.information__product{
   margin-bottom: 24px;
}
.information__button{
    display:flex;
    color: var(--maine__color__dark);
   
}
.information__icon{
    display: flex;
    fill: currentColor;
}
.information__button-line{
    width: 150px;
    height: 4px;
    background-color: var(--backgroundcolor__dark);
    margin: 0 10px 0 10px;
    
}
.information__text{
    display: block;
    margin-bottom: 24px;
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 0px;
text-align: center;
letter-spacing: 0.002em;
color: var(--maine__color__dark);
}

