.information__link--width{
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
    }
    .button__form{
        display: block;
        padding: 0 100px 0 100px;
        background-color: var(--backgroundcolor__button-calc);
        height: 50px;
        margin: 0 auto 50px auto;
    
    }