.information__menu{
    
    max-width: 360px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.information__link{
    display: block;
    
}




.forward{
    position: absolute;
    top: 30px;
    right: 14px;
}
.back{
    position: absolute;
    top: 30px;
    left: 14px;
}

.language{
    display: flex;
    
    padding: 0 20px 0 20px;
    
    background-color: var(--backgroundcolor__maine);
}
.language__list{
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    margin: 0 auto 0 auto;
    width: 360px;
}

.language__items{
    margin-top: 20px;
}  

.language__link{
    width: 60px;
    height: 60px;

    display: block;
    text-align: center;
    padding: 20px 0 20px 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    background-color: var(--backgroundcolor__button-dark);


}
