:root{
--backgroundcolor__dark: #2F303A ;
--backgroundcolor__maine: #FBFCC4 ;
--backgroundcolor__button-dark:#D3D4CF ;
--backgroundcolor__button-light:#31F6F6 ;
--backgroundcolor__button-calc:#66D771 ;
--fontfamily__praimary:'Roboto', sans-serif;
--fontfamily__secondery:'Raleway', sans-serif;
--maine__color__dark: #373434;
--secondary__color: #617D11;
}